@charset "utf-8";
/* CSS Document */

html,body {
    margin:0;
    padding:0;
}
#header {
	margin: 0;
}
#cossieplaylogo {
	margin: 0 auto;
	text-align:center;
}
#search {
	float:right;
	padding-top: 20px;	
}
#wrap {
	width: 100%;
	height: auto; 
	position: absolute;
	opacity;: 0.3;
}
.navbar	{
	height: 64px;
    padding: 0;
    right: 0px;
	background-color: #FFF;
	width:100%;
	display:inline;
	z-index: 50;
	left:0;
	right:0;
	border:1px solid gray;
	position:absolute;
	margin:0 auto;
	}
.navbar ul{
  display: inline-block;
  width:120%;
  margin:0 auto;
  text-align:center;
}
.navbar ul li{
	display:table;
  margin:0 auto;
}
.navbar li 	{
	height: auto;
	width: 210px;  
	float: left;  
	text-align: center;  
	list-style: none;  
	font-size:12px;
	font-family:"Geneva", Tahoma, sans-serif;
	text-transform:uppercase;
	padding: 0;
	background-color: white;
	display:inline-block;	
	
    }
.navbar a	{							
		padding: 20px 0px;  
		text-decoration: none;  
		color: #066; 
		display: block;
		height:24px;
		font-size:130%;
		transition:0.5s;
		
				}
.navbar li:hover, a:hover {
	background-color: #CCC;
	transition:0.5s;
	} 
.navbar li ul 	{
		display: none;  /* Hides the drop-down menu */
		height: auto;									
		margin: 0; /* Aligns drop-down box underneath the menu item */
		padding: 0; /* Aligns drop-down box underneath the menu item */			
		}				

.navbar li:hover ul 	{
                        display: block; /* Displays the drop-down box when the menu item is hovered over */
                        }
.navbar li ul li {background-color: #CCC;} 
				
.navbar li ul li a:hover	{background-color: #CCC;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#homebanner {
	display:block;
	width:100%;
	margin:0 auto;
	margin-top:80px;
	text-align:center;
	
}
.servicesbanner {
	display:block;
	width:100%;
	margin:0 auto;
	margin-top:80px;
	margin-left: 18.5%;
}
.banner3 {
	display:block;
	margin-top:0px;
	width:100%;
	height:151px;
	background-color:#319289;
}
.banner3content{
	padding-top:40px;
	color:#aaabb8;
	margin-left: 10px;
	font-size:14px;
	font-family:"Geneva", Tahoma, sans-serif;
	text-transform:uppercase;
}
.banner3content a{
	color:blue;
}
.banner3content a:hover{
	color:black;	
}
.banner3content a:visited{
	color:white;	
}
.world {
	float:right;
	display:block;
	position:relative;
	margin-top:-102px;	
	}
.footer {
	color:white;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	float:left;
	text-transform:uppercase;
	text-align:right;
	margin-right: 40px;
	text-size:1em;	
	position: absolute;
}
#wrap1	{
	width: 100%;
	height: 70px; 
	margin: 0;
	position: relative; 	
	background-color: #FC9;
	letter-spacing:2px;
	
	}
#wrap2	{
	width: 100%;
	height: 70px; 
	margin: 0;
	position: absolute; 	
	background-color: #FC9;
	letter-spacing:2px;
	margin-top: 35%;
	
	}
#wrap3	{
	width: 100%;
	height: 70px; 
	margin: 0;
	position: absolute; 	
	background-color: #FC9;
	letter-spacing:2px;
	margin-top: 2%;
	
	}
#cossieplaywrap {
	background-color:#CCF;
}
.banner1 {
	display:block;
	margin-top: 0px;
	width: 100%;
	height:480px;
	margin-top:90px;
	margin-left: 170px;
}
.announcement {
	display:block;
	float:right;
	height:380px;
	width:600px;
	background-color:white;
	border-radius:10px;
	margin-top:-20px;
	margin-right:290px;
}
.announcement-content {
	padding-top:8px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#464866;
	padding-left:40px;
	padding-right:40px;
}

.banner2 {
	display:block;
	margin-top: 0px;
	width: 100%;
	height:480px;
	margin-top:90px;
	margin-left: 170px;
}
.announcement1 {
	display:block;
	float:left;
	height:380px;
	width:600px;
	background-color:white;
	border-radius:10px;
	margin-top:-20px;
	margin-left:-190px;
}
.announcement-content1 {
	padding-top:8px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#464866;
	padding-left:40px;
	padding-right:40px;
}
.banner5left{
	
	display:block;
	margin-top: 30px;
	width: 42%;
	height:480px;
	background-color:#f7c951;
	margin-left: 7%;
	border-radius: 10%;
}
.banner5right{
	margin-top: 30px;
	display:inline-block;
	float:right;
	width: 42%;
	height:480px;
	background-color:#f7a099;
	margin-top:-480px;
	margin-right: 7%;
	border-radius: 10%;
}
.banner5content {
	text-align:center;
	color:white;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:19px;
}
.centrewrap {
	margin-left: 400px;
	margin-right: 420px;
	display:block;
	height: 600px;
	background-color:#fdfdfd;
	margin-top:100px;	
}
.costumepictureleft {
	display:block;
	float:left;
	margin-top:-715px;	
	margin-left:30px;
}
.costumepictureright {
	display:block;
	float:right;
	margin-top:-710px;	
	margin-right:50px;
}
#costume {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
	width:100%;
}

#costume td, #costume th {
    border: 1px solid #ddd;
    padding: 8px;
}

#costume tr:nth-child(even){background-color: #f2f2f2;}
#costume tr:nth-child(odd){background-color: #f2f2f2;}

#costume tr:hover {background-color: #ddd;}

#costume th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #81bcb6;
    color: white;
}
.pricelistingtitle {
	color: 	#066;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	text-align:center;
}
.tosignup {
	font-family:Tahoma, Geneva, sans-serif;
}